.btn-group {
      width: 960px;
      margin:5px;

    }

    table{
    width: 100%;
    border-bottom: none;
}
table td{
    position: relative !important;
    margin-left: 40px !important;
    border: none;
    padding: 6px 0px;
}
table td input{
    position: relative;
    margin-right: 10px;
}
